[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
faiss-cpu = "*"
langchain-text-splitters = "*"
pypdf = "*"
sentence-transformers = "*"
langchain-huggingface = "*"
langchain-groq = "*"
streamlit = "*"
langchain = "*"
langchain-community = "*"

[dev-packages]

[requires]
python_version = "3.13"
